@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./assets/css/colors.css";
@import "./assets/css/global.css";

@import "./assets/css/layout/menu.css";
@import "./assets/css/layout/navbar.css";
@import "./assets/css/layout/footer.css";

#tumozellikler .ulli li:last-child,
.icon-check li,
footer ul li,
ol,
ul {
  list-style: none;
}

.cookieUyari,
.modal {
  z-index: 999999;
}

.btn-link,
.mobMenuHMH .submenu-header > a,
.mobMenuHMH ul > li > a,
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.customHref a,
.fw-300,
body {
  font-weight: 300;
}

.dropdown-toggle:hover > .dropdown-menu,
.mobMenuHMH ul > li,
.mobMenuHMH-opened .mobMenuHMH-overlay,
.navbar .nav-item:hover .dropdown-menu,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: var(--globalColor);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}

a {
  outline: 0;
}

#FooterLight #FooterAlt a i:hover,
#tab-ozellikler .nav-link.active,
#tabslider .nav-link.active h6,
#tabslider .nav-link:hover h6,
.SayilarlaNetgsm h2.bayiagi i,
.accordion-button,
.badge.bg-light,
.callout.digerHizmetler.calloutRow h4:hover,
.cihazlar h3,
.icon-circle i,
.icon-square i,
.konuBaslik h1.textBottom,
.konuBaslik h3.textBottom,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link,
.paket-card h3,
.paket-table th,
.paketTableCol h4,
.spotlar-bg.pdSmall h3,
a:hover {
  color: var(--firstColor);
}

.accordion-button.collapsed,
.bootstrap-select > .btn-light,
.colorGlobal {
  color: var(--globalColor) !important;
}

.colorSecond {
  color: var(--secondColor) !important;
}

#FooterAlt a i,
.col-megamenu ul a li,
.ulli,
h6 {
  font-size: 18px;
}

.konuBaslik {
  margin-bottom: 40px;
}

.konuBaslik h1,
.konuBaslik h3 {
  font-weight: 700;
  color: var(--globalColor);
  font-size: 2rem;
}
section {
  margin: 60px 0;
}

hr {
  background-color: var(--globalColor);
  opacity: 0.1;
}

.btn-sm.sm2x,
.callout .ulli a,
.fw400 {
  font-weight: 400 !important;
}

.col-megamenu ul li:hover {
  background: var(--firstBgColor);
}

#FooterLight,
#FooterLight #FooterAlt a,
#FooterLight ul li a,
.breadcrumb-item a,
.breadcrumb-item:hover,
.callout.digerHizmetler.calloutRow .collapsed h4,
.col-megamenu ul a li,
.customHref a,
.dropdown-item,
.form-control,
.form-select,
.globalTable,
.iletisim,
.iletisim p a,
.mobMenuHMH,
.modal-title.modalPadLarge,
.nav-top-menu a,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.paket-table,
.sss,
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: var(--globalColor);
}
.col-megamenu {
  padding: 2rem 1.6rem;
}

.navbar .has-megamenu {
  position: static !important;
}

.cardOzellik.basliksizOzellikler .feature p,
.col-megamenu ul {
  margin-top: 16px;
}

.col-megamenu ul li {
  padding: 10px 15px;
}
.col-megamenu h6 {
  color: var(--firstColor);
  font-size: 19px;
  font-weight: 600;
  padding-left: 15px;
}

.dropdown-menu {
  left: 38%;
}

#tab-ozellikler .tab-content a,
#timer div span,
.breadcrumb-item a,
.btn,
.callout b,
.cardOzellik .feature a b,
.col-megamenu ul a li,
.cookieUyari p a,
.img-card a,
.nav-top-menu a,
.paket-card h6,
.paket-table span,
.paketTableCol b {
  font-weight: 500;
}

.SayilarlaNetgsm h2.entegrasyonsayisi i,
.callout-warning h4,
.spotlar.gelistiriciler h2 i.fa-star,
.spotlar.gelistiriciler h2 i.fa-star-half-alt {
  color: var(--bs-warning);
}

.SayilarlaNetgsm h2 i,
.callout.digerHizmetler .ulli li,
.spotlar.gelistiriciler h2 i {
  font-size: 1rem;
}

#tab-ozellikler .nav-link.active,
.accordion-item,
.digerHizmetler .globalTable.borderNone th {
  border: none;
}

.btn-sm.sm2x {
  padding: 0.3rem 1rem !important;
  min-width: 80px;
}

#banner p,
.icon-check li i,
.page-banner p,
.page-tesekkurler p,
.spotlar-bg p {
  font-size: 20px;
}

#FooterDark {
  background: var(--globalColor);
  color: #fff;
}

#FooterDark #FooterAlt a,
#FooterDark ul li a,
#FooterDark ul li a:hover {
  color: #fff;
}

footer {
  padding: 40px 0 20px;
}

footer h6 {
  font-weight: 600;
  margin-bottom: 12px;
}

footer ul li {
  margin-left: -32px;
  margin-bottom: 4px;
}

footer ul li a {
  opacity: 0.8;
  font-weight: 400;
}

#FooterAlt hr {
  margin-bottom: 8px !important;
  background-color: #fff;
  opacity: 0.2;
}

#FooterAlt a {
  color: #fff;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

#FooterAlt a i {
  margin-top: 6px;
}

#FooterAlt .small {
  margin-top: 24px;
  opacity: 0.4;
}

.btn {
  padding: 0.375rem 1rem;
}

.modal-title,
.nav-top-menu a.login-link {
  color: var(--firstColor);
  font-weight: 600;
}

#hizmetler .feature a i,
.btn-link i,
.spotlar a i {
  margin-left: 3px;
}

.nav-top-menu {
  background: #f5f9fe;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 4px 0;
}

.nav-top-menu a {
  font-size: 15px;
  padding-left: 15px;
  opacity: 0.5;
}

.nav-top-menu a.login-link {
  opacity: 1;
  font-size: 17px;
}

.nav-top-menu a.login-link i {
  padding-right: 3px;
}

#navbar_top {
  background: #fff;
  box-shadow: 0 2px 8px rgba(45, 62, 80, 0.12);
  padding: 40px 0 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1.1rem;
}

.navbar .megamenu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 3rem rgba(0, 95, 236, 0.12) !important;
  margin-top: 0;
  align-items: center;
  border: 1px solid var(--secondBgColor);
}

.navbar .has-megamenu {
  position: static !important;
}

#banner h1,
#banner h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 30px;
}

#banner h1 small,
#banner h2 small {
  font-size: 60%;
  font-weight: 600;
  color: var(--firstColor);
}

#banner img {
  max-height: 340px;
  width: auto;
}

#banner .btn-lg,
.page-banner .btn-lg {
  padding: 0.8rem 1.2rem;
}

section#banner {
  margin-top: 120px !important;
  margin-bottom: 16px !important;
}

.SayilarlaNetgsm h2,
.spotlar.gelistiriciler h2 {
  line-height: 2rem;
}

.cardOzellik .feature {
  padding: 20px;
  border: 1px solid var(--firstBgColor);
  border-radius: 16px;
  background: #fff;
}

.cardOzellik .feature h4 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 22px;
  color: var(--firstColor);
}
.cardOzellik .col-lg-3,
.cardOzellik .col-lg-4,
.cardOzellik .col-lg-6,
.cardOzellik .col-lg-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.SayilarlaNetgsm h2,
.spotlar h2,
.spotlar h3 {
  font-size: 38px;
  font-weight: 700;
}
.SayilarlaNetgsm {
  margin: 90px 0 !important;
}

.SayilarlaNetgsm h2 span,
.spotlar.gelistiriciler h2 span {
  font-size: 1.2rem;
  font-weight: 300;
}

.SayilarlaNetgsm h2 small {
  font-weight: 400;
}

.SayilarlaNetgsm h2.abonesayisi i,
.spotlar.gelistiriciler h2 i.fa-heart {
  color: red;
}

.SayilarlaNetgsm h2.santralsayisi i,
.SayilarlaNetgsm h2.smssayisi i {
  color: var(--secondColor);
}

#yorumlar,
.spotlar {
  margin-top: 80px;
}

.spotlar .row {
  margin-bottom: 80px;
}

.spotlar h2 small,
.spotlar h3 small {
  font-size: 60%;
  font-weight: 500;
  color: var(--secondColor);
}

.spotlar p {
  font-size: 20px;
  padding-bottom: 12px;
}

.spotlar a {
  font-size: 20px;
  font-weight: 500;
}

.spotlar img {
  max-height: 540px;
  width: auto;
}

.spotlar-bg {
  background: var(--firstBgColor);
  padding: 30px 50px;
  border-radius: 16px;
}

.spotlar-bg img {
  max-height: 420px;
  width: auto;
}

.light-slash {
  font-weight: 300;
  padding: 0 2px;
  font-size: 90%;
}

#tab-ozellikler,
#yorumlar,
.firstBg {
  background: var(--firstBgColor);
  padding: 80px 0;
}

#tab-ozellikler,
.firstBg {
  margin: 80px 0;
}

#tab-ozellikler .nav-tabs {
  border-bottom: none;
}

#tab-ozellikler .nav-link {
  color: inherit;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 20px;
}
#tab-ozellikler .nav-link i {
  margin-right: 3px;
}

#tab-ozellikler .tab-content {
  background: #fff;
  padding: 50px;
}

#tab-ozellikler .tab-content h6 {
  color: var(--secondColor);
  font-weight: 700;
}

#tab-ozellikler .tab-content h4 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}

#tab-ozellikler .tab-content p {
  font-size: 18px;
  margin-top: 16px;
}

.accordion-header {
  border-bottom: 1px solid var(--secondBgColor);
}

.accordion-button {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.25rem 1.25rem 1.25rem 0;
}

.mobMenuHMH,
.mobMenuHMH .submenu {
  background-color: #fff;
  bottom: 0;
  overflow: hidden;
  top: 0;
}

.mobMenuHMH,
.mobMenuHMH .submenu,
.mobMenuHMH ul {
  -webkit-overflow-scrolling: touch;
}

.mobMenuHMH {
  width: 320px;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  transform: translateX(-100%);
  z-index: 99999;
}

.mobMenuHMH .submenu:not(.no-transition),
.mobMenuHMH:not(.no-transition) {
  transition: 250ms;
}

.mobMenuHMH-overlay {
  background-color: rgba(19, 15, 64, 0.35);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99998;
}

.dropdown-menu {
  padding: 10px;
}

.soft-bg-icon {
  padding: 16px;
  border-radius: 16px;
  width: 80px;
  height: 80px;
  font-size: 32px;
}
.soft-bg-icon.soft-bg-danger {
  background: #fff2f8;
  color: #ff007a;
}

.soft-bg-icon.soft-bg-warning {
  background: #fff7e3;
  color: #f90;
}

.soft-bg-icon.soft-bg-success {
  background: #deffee;
  color: #00da71;
}

.soft-bg-icon.soft-bg-info {
  background: #e6f8f8;
  color: #0dbab6;
}

.soft-bg-danger {
  background: var(--soft-bg-danger);
}

.soft-bg-warning {
  background: var(--soft-bg-warning);
}

.soft-bg-success {
  background: var(--soft-bg-success);
}

.soft-bg-info {
  background: var(--soft-bg-info);
}

@media (max-width: 991.98px) {
  #tab-ozellikler .nav-tabs .nav-item,
  #tabslider .tab-content.netasistanOzel {
    width: 100%;
  }

  section {
    margin: 40px 0;
  }

  section#banner {
    margin-top: 80px !important;
    margin-bottom: 30px !important;
  }

  #banner h1,
  #banner h2 {
    font-size: 36px;
  }

  #banner p,
  #tab-ozellikler .tab-content p,
  #yorumlar p,
  .spotlar a,
  .spotlar p,
  .spotlar-bg p {
    font-size: 18px;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  #yorumlar,
  .sss {
    padding: 40px 0;
  }

  .spotlar h2,
  .spotlar h3,
  .spotlar-bg h2 {
    font-size: 32px;
  }

  .spotlar h3 small {
    font-size: 60%;
  }

  .accordion-button {
    font-size: 1.1rem;
    font-weight: 500;
  }

  #tab-ozellikler {
    padding: 40px 0;
    margin: 40px 0;
  }

  #tab-ozellikler .paketTable .nav-tabs .nav-item,
  #tab-ozellikler.lisansTab .nav-tabs .nav-item {
    width: auto;
  }

  #tab-ozellikler .nav-link {
    padding: 1rem 2rem;
    font-size: 18px;
    text-align: left;
  }

  #tab-ozellikler .tab-content h4 {
    font-size: 30px;
  }

  .spotlar-bg {
    padding: 30px;
  }

  #navbar_top {
    padding-top: 10px;
  }

  .SayilarlaNetgsm {
    margin: 60px 0 !important;
  }

  .SayilarlaNetgsm h2 {
    line-height: 1.5rem;
    font-size: 28px;
  }

  .SayilarlaNetgsm h2 span {
    font-size: 1rem;
  }

  .SayilarlaNetgsm h2 i {
    font-size: 0.8rem;
  }

  .spotlar-bg-light {
    background-position: 0 70%;
  }
}
@media (max-width: 575.98px) {
  .SayilarlaNetgsm {
    margin: 80px 0 30px !important;
  }

  section {
    margin: 40px 0;
  }

  section#banner {
    margin-top: 80px !important;
    margin-bottom: 30px !important;
  }

  #tab-ozellikler .nav-tabs .nav-item,
  #tab-ozellikler.lisansTab .nav-tabs .nav-item,
  #tabslider .tab-content.netasistanOzel {
    width: 100%;
  }

  #banner h1,
  #banner h2,
  .spotlar h2,
  .spotlar h3,
  .spotlar-bg h2 {
    font-size: 32px;
  }

  #banner p,
  #yorumlar p,
  .page-banner p,
  .spotlar a,
  .spotlar p,
  .spotlar-bg p {
    font-size: 18px;
  }

  #hizmetler .feature,
  .paketTableCol h3 .light-slash {
    padding: 0;
  }

  #hizmetler .feature.feature-active,
  #tab-ozellikler .tab-content,
  .spotlar-bg {
    padding: 30px;
  }

  #hizmetler .feature a,
  #hizmetler .feature p {
    font-size: 16px;
  }

  .spotlar .row {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .spotlar h3.h3Small {
    font-size: 28px;
  }

  .spotlar h3 small {
    font-size: 60%;
  }

  .sss {
    padding: 40px 0;
  }

  .accordion-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 1.25rem 1.25rem 0;
  }

  #tab-ozellikler {
    padding: 20px 0;
    margin: 40px 0;
  }

  #tab-ozellikler .nav-link {
    padding: 0.8rem 2rem;
    text-align: left;
  }

  #banner.spotlar-bg {
    padding: 15px;
  }

  #tab-ozellikler .tab-content h4 {
    font-size: 28px;
    margin-top: 24px;
  }

  #tab-ozellikler .tab-content p {
    font-size: 18px;
    margin-top: 16px;
  }

  footer ul li {
    margin-bottom: 8px;
  }

  #FooterAlt a {
    padding-right: 24px;
  }

  #FooterAlt a i {
    font-size: 20px;
  }

  #navbar_top {
    padding-top: 10px;
  }
}
