/* Import Mob Menu CSS */
@import "./mob-menu.css";

/* Navbar Links */
.nav-top-menu a,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--globalColor);
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.paketNav .nav-link:hover {
  color: var(--firstColor) !important;
}

/* Navbar Megamenu */
.navbar .has-megamenu {
  position: static !important;
}

/* Navbar Toggler */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;

  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.02) !important;
}

/* Navbar Nav Links */
.navbar-light .navbar-nav .nav-link {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1.1rem;
}

/* Dropdown Menu Positioning */
.navbar .nav-item .dropdown-menu[data-bs-popper] {
  left: inherit;
  margin-top: -11px;
}

/* Megamenu Styles */
.navbar .megamenu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 3rem rgba(0, 95, 236, 0.12) !important;
  margin-top: 0;
  align-items: center;
  border: 1px solid var(--secondBgColor);
}

#navbar_top {
  padding: 40px 0 10px;
  background: #fff;
}

/* Top Menu */
.nav-top-menu {
  background: #f5f9fe;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 4px 0;
  margin-bottom: 50px;
}

.nav-top-menu a {
  font-size: 15px;
  padding-left: 15px;
  opacity: 0.5;
}

.nav-top-menu a.login-link {
  opacity: 1;
  font-size: 17px;
}

.nav-top-menu a.login-link i {
  padding-right: 3px;
}

/* Media Queries */
@media (max-width: 991.98px), (max-width: 575.98px) {
  #navbar_top {
    padding-top: 10px;
  }
}

.breadcrumb {
  display: none !important;
  margin-top: 4px;
  margin-bottom: 0;
}

.breadcrumb-item {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.breadcrumb-item a {
  font-size: 0.8rem;
  padding-left: 0;
  opacity: 1;
}

.breadcrumb-item a:hover {
  color: var(--firstColor);
  opacity: 1;
}
.breadcrumb-item a,
.breadcrumb-item:hover {
  color: var(--globalColor);
}
